#container { display: flex; flex-direction: column; gap: 20px; align-content: center; }
#reset {
    width: 97vw;
    background: #fc0; 
    outline: 2px solid #000; 
    border: 3px solid #fff; 
    border-radius: 10px;
    text-align: center;
}
textarea  {
   width: 500px;
   max-width: 90%;
   height: 500px;
}
#fram{
    widtx: 97vw;
    outline: 2px solid blue;
    border: 3px solid white;
    background: green;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
tr.nechet {
    outline: 2px solid #000000;
    border: 3px solid #ffffff;
    background: #00ff00;
}
#g {
    width: 97vw;
    background: #ff9900;
    border: 3px solid #ffffff;
    outline: 2px solid #000000;
    text-align: center;
}
tr.chet {
    border: 3px solid #ffffff;
    background: #ff0000;
    color: white;
    outline: 2px solid #000000;
}
tr.gas {
    font-weight: bold;
    color: white;
    background: #20124d;
    border: 3px solid #ffffff;
    outline: 2px solid #000000;
}
th {
    border: 3px solid #ffffff;
    background: #9900ff;
    color: white;
    outline: 2px solid #000000;
}
td.b {
    border: 3px solid #ffffff;
    outline: 2px solid #000000;
}
table {
    width: 100%;
}
img.logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid green;
}
div.tablet {
    order: 1;
}
div.list {
    order: 2;
}
@media (min-width: 768px)
{
    div.list {
        order: 1;
    }
    div.tablet {
        order 2;
    }
}
@media (min-width: 960px)
{
    #container { max-width: 960px; align-content: safe center; }
    #reset { max-width: 960px;}
}
