div.reset {
    width: 97vw; 
    background: #fc0; 
    outline: 2px solid #000; 
    border: 3px solid #fff; 
    border-radius: 10px;
    text-align: center;
}
textarea  {
   width: 500px;
   height: 500px;
}
#fram{
    widtx: 97vw;
    height: 100px;
    outline: 2px solid blue;
    border: 3px solid white;
    background: green;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
}
td.nechet {
    border: 3px solid #ffffff;
    background: #00ff00;
}
#g {
    width: 97vw;
    background: #ff9900;
    border: 3px solid #ffffff;
    outline: 2px solid #000000;
}
td.chet {
    border: 3px solid #ffffff;
    background: #ff0000;
}
th {
    border: 3px solid #ffffff;
    background: #9900ff;
}
