div {
    width: 96vw; /* Размеры */
    background: #fc0; /* Цвет фона */
    outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #fff; /* Белая рамка */
    border-radius: 10px;
}
textarea  {
   width: 500px;
   height: 500px;
}
